<section>
    <div class="container pb-3  w-100 pt-3">
        <div class="w-100 row justify-content-center m-0">
            <div class="col-lg-9 mt-3 mb-5 shadow p-2">
                <h4>Configuraciones</h4>
                <hr>
                <div class="w-100 row">
                    <div class="col-lg-5 text-center">
                        <label>Color Primario</label>
                    </div>
                    <div class="col-lg-2" *ngIf="color != null">
                        <div [ngStyle]="{'background-color':color.primario}" style="height: 50px;">

                        </div>
                        <input type="color" class="form-control p-1" value="{{color.primario}}" [(ngModel)]="color.primario">
                    </div>
                    <div class="col-lg-3 row" style="align-items: center; justify-content: center;">
                        <button type="button" (click)="updateColors()" class="btn btn-primary mr-1"><i class="fa fa-edit"></i></button>
                    </div>
                    <div class="w-100">
                        <hr>
                    </div>
                </div>
                <div class="w-100 row">
                    <div class="col-lg-5 text-center">
                        <label>Color Secundario</label>
                    </div>
                    <div class="col-lg-2" *ngIf="color != null">
                        <div [ngStyle]="{'background-color':color.secundario}" style="height: 50px;">

                        </div>
                        <input type="color" class="form-control p-1" value="{{color.secundario  }}" [(ngModel)]="color.secundario">
                    </div>
                    <div class="col-lg-3 row" style="align-items: center; justify-content: center;">
                        <button type="button" (click)="updateColors()" class="btn btn-primary mr-1"><i class="fa fa-edit"></i></button>
                    </div>
                    <div class="w-100">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 shadow p-2">
                <h4>Imágenes Carrousel</h4>
                <hr>
                <div class="w-100 row" *ngFor="let image of images; let index = index">
                    <div class="col-lg-5 text-center">
                        <img width="100px" src="{{uri+'getImageCarousel/'+image.image}}" style="height: 100px;">
                        <label class="ml-2">Imagen {{index+1}}</label>
                    </div>
                    <div class="col-lg-4 row" style="align-items: center; justify-content: center;">
                        <input type="file" (change)="fileChange($event, image.image)" class="form-control">
                    </div>
                    <div class="col-lg-3 row" style="align-items: center; justify-content: center;">
                        <button type="button" (click)="updateImg()" class="btn btn-primary mr-1"><i class="fa fa-edit"></i></button>
                    </div>
                    <div class="w-100">
                        <hr>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>