<div style="position: relative;" >
    <div class="l-navbar" id="nav-bar" style="position: absolute;">
        <nav class="nav">
            <div> 
                <div class="nav_list"> 
                    <a  class="nav_link p-4" (click)="changeVariable()"> 
                        <i class='fa fa-bars nav_icon'></i>  <span *ngIf="showName" [@enterAnimation]>Pedidos</span> 
                    </a>
                    <hr class="m-0">
                    <a  class="nav_link p-4" routerLink="../../pedidos/register"> 
                        <i class="fa fa-truck nav_icon"></i><span *ngIf="showName" [@enterAnimation]>Pedidos Pendientes</span> 
                    </a> 
                    <hr class="m-0">
                    <a  class="nav_link p-4" routerLink="../../pedidos/add"> 
                        <i class='fa fa-check nav_icon'></i> <span *ngIf="showName" [@enterAnimation]>Pedidos Confirmados</span> 
                    </a> 
                </div>
            </div> 
        </nav>
    </div>

</div>