<app-carousel ></app-carousel>

<section>
    <div class="container pt-3 pb-3  w-100">
        <div class="w-100 pb-3 pt-3 d-flex justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Tecnología</h4>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Gaming</h4>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Tu mejor opción</h4>
            </div>
        </div>
        <div class="w-100 text-center">
            <h2 style="color: #11346b;">Tu Carrito</h2>
        </div>
        <div class="w-100 row justify-content-center mb-3">
            <div *ngIf="carrito != undefined" class="col-lg-9 row mt-2 shadow p-2">
                <div class="col-lg-4 text-center">
                    <h4>Producto</h4>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-2 text-center">
                    <h4>Cantidad</h4>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-2 text-center">
                    <h4>Precio</h4>
                </div>
                <div class="col-lg-2 text-center">
                    <h4>Total</h4>
                </div>
                <div class="col-lg-12 m-2">
                  <hr>
                </div>
                <div *ngFor="let detalle of carrito.detalles" class="w-100 row pb-2">
                    <div class="col-lg-4 text-center">
                        <div class="d-flex">
                            <img style="max-height: 40px; min-width: 75px" src="{{uri+'getImgProd/'+detalle.producto.imgProducto}}"><span class="ml-2"> {{detalle.producto.nameProducto}}</span>
                        </div>
                    </div>
                    <div class="col-lg-1">
                      <button (click)="DeleteValor(detalle.producto._id)" class="w-100 btn btn-danger">-</button>
                    </div>
                    <div class="col-lg-2 pl-1 pr-1 text-center">
                        <input min="0" readonly type="number" class="form-control text-center" value="{{detalle.cantidad}}" >
                    </div>
                    <div class="col-lg-1">
                      <button (click)="addCart(detalle.producto._id)" class="w-100 btn btn-primary">+</button>
                    </div>
                    <div class="col-lg-2 text-center">
                        <span>{{detalle.producto.precio}}</span>
                    </div>
                    <div class="col-lg-2 text-center">
                        <span>{{detalle.producto.precio*detalle.cantidad}}</span>
                    </div>
                    <div class="w-100">
                        <hr class="m-2">
                    </div>
                </div>
                <div class="w-100 row" style="justify-content: flex-end;">
                  <div class="col-lg-2 text-center">
                      <span>{{carrito.total}}</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="login-root">
            <div class="box-root  flex-direction--column" style="flex-grow: 1; width: 100%; position: relative">
              <div class="loginbackground box-background--white padding-top--64" style="position: absolute; z-index: 2;">
                <div class="loginbackground-gridContainer">
                  <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                  </div>
                </div>
              </div>
              <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9; position: relative">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                  <h1><a  rel="dofollow"> Envío</a></h1>
                </div>
                <div *ngIf="carrito != undefined" class="formbg-outer pb-2">
                  <div class="formbg col-lg-9">
                    <div class="formbg-inner padding-horizontal--48">
                      
                      <form #register="ngForm" (ngSubmit)="crearFactura(register)" id="stripe-login">
                        <div class="d-flex" style="align-items: center;">
                          <input type="checkbox" [(ngModel)]="isChecked" (change)="setData()" name="check" id="check">
                          <label for="check" class="m-0 pl-1" > cargar datos de mi cuenta</label>
                        </div>
                        <div class="row">
                            <div class="field padding-bottom--24 col-lg-6 pr-2">
                                <label for="nameReceiver">Nombre del Receptor:</label>
                                <input type="email" #nameReceiver="ngModel" [(ngModel)]="envio.nameReceiver" name="nameReceiver" id="nameReceiver">
                            </div>
                            <div class="field padding-bottom--24 col-lg-6">
                                <label for="lastNameReceiver">Apellido del receptor:</label>
                                <input type="text" #lastNameReceiver="ngModel" [(ngModel)]="envio.lastNameReceiver" id="lastNameReceiver" name="lastNameReceiver">
                            </div>
                        </div>
                        <div class="row">
                            <div class="field padding-bottom--24 col-lg-6 pr-2">
                                <label for="phone">Teléfono:</label>
                                <input type="number" #phone="ngModel" [(ngModel)]="envio.phone" id="phone" name="phone">
                            </div>
                            <div class="field padding-bottom--24 col-lg-6">
                                <label for="email">Municipio:</label>
                                <select #se  (click)="selectEnvio(se.value)"   class="form-control">
                                    <option disabled selected> Seleccione una opción...</option>
                                  
                                    <option *ngFor="let municipio of municipios"  value="{{municipio._id}}" >{{municipio.nameMunicipio}}</option>
                                  
                                </select>
                            </div>
                        </div>
                        <div class="field padding-bottom--24">
                            <label for="email">Dirección de correo electrónico:</label>
                            <input type="email" #address="ngModel" name="address" id="address" [(ngModel)]="envio.address" name="email">
                        </div>
                        <div class="field padding-bottom--24">
                          <div class="grid--50-50">
                            <label for="address">Dirección Específica (Número de casa, calle)</label>
                          </div>
                          <textarea #specificAddress="ngModel" name="specificAddress" id="specificAddress" [(ngModel)]="envio.specificAddress"></textarea>
                          <button class="btn btn-primary p-2 mt-2 mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Ver Direcciones:
                          </button>
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                              <div class="form-group">
                                <label for="exampleFormControlSelect2">Direcciones Agregadas:</label>
                                <select multiple class="form-control" (change)="selectDireccion($event.target.value)" id="exampleFormControlSelect2">
                                  <option *ngFor="let direccion of direcciones">{{direccion.direccion}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="reference">Breve Descripción de indicaciones</label>
                            </div>
                            <textarea  #reference="ngModel" name="reference" id="reference" [(ngModel)]="envio.reference"></textarea>
                        </div>  
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="password">costo del envío(Generado automáticamente)</label>
                            </div>
                            <input type="number" readonly value="{{valor}}">
                        </div>  
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="password">Total:</label>
                            </div>
                            <input type="number" readonly  value="{{carrito.total}}">
                        </div>  
                        <div class="field padding-bottom--24">
                          <div class="grid--50-50">
                            <label for="nit">NIT:</label>
                          </div>
                          <input type="text" name="nit" id="nit" #nit="ngModel" [(ngModel)]="NIT" >
                        </div>  
                        <div class="text-center">
                            <input type="submit" name="submit" value="Finalizar Pedido">              
                        </div>
                        
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>