<section>
    <app-cat-sidebar></app-cat-sidebar>
    <div class="container pb-3  w-100 pt-3">
        <div class="w-100 text-center">
            <h2>Categorías</h2>
        </div>
        <div class="w-100 row m-0 justify-content-center">
            <div *ngFor="let category of categories" class="col-lg-6 pb-2 row justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img *ngIf="category.imgCategoria != undefined" class="card-img-top" src="{{uri+'getImgCat/'+category.imgCategoria}}" alt="Card image cap">
                    <div class="card-body text-center">
                      <h2 style="color: #11346b;" class="card-title">{{category.nameCategoria}}</h2>
                      <span class="text-muted">{{category.descCategoria}}</span>
                    </div>
                    <div class="w-100 mt-1">
                        <button type="button" data-toggle="modal" data-target="#editCat" (click)="selectCategory(category)" class="btn btn-primary mr-1"><i class="fa fa-edit"></i></button>
                        <button type="button" data-toggle="modal" data-target="#deleteCat" (click)="selectCategory(category)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<div class="modal fade" id="editCat" tabindex="-1" role="dialog" aria-labelledby="editCatTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCatTitle">Editar Categoría</h5>
          <button type="button" (click)="reset()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  id="stripe-login">
            <div class="field padding-bottom--24">
                <label for="nameCategoria">Nombre:</label>
                <input required type="text" #nameCategoria="ngModel" [(ngModel)]="categoria.nameCategoria"  name="nameCategoria" id="nameCategoria">
                <span class="alertForm" *ngIf="!nameCategoria.valid && nameCategoria.touched">Campo Obligatorio</span>
            </div>
            <div class="field padding-bottom--24">
              <div class="grid--50-50">
                <label for="descCategoria">Descripción de la categoría</label>
              </div>
              <textarea required class="from-control" autocomplete="on" required  #descCategoria="ngModel" [(ngModel)]="categoria.descCategoria" name="descCategoria" id="descCategoria"></textarea>
              <span class="alertForm" *ngIf="!descCategoria.valid && descCategoria.touched">Campo Obligatorio</span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="reset()" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="updateCategory()" data-dismiss="modal" class="btn btn-primary">Editar Categoría</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="deleteCat" tabindex="-1" role="dialog" aria-labelledby="deleteCatTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCatTitle">eliminar Categoría</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="text-danger">¿Estás seguro de eliminar esta categoría?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="removeCategory()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
</div>