<section>
    <app-pedido-sidebar></app-pedido-sidebar>
    <div class="container pb-3  w-100 pt-3">
        <div class="w-100 row justify-content-center m-0">
                <table class="table col-lg-10 shadow table-responsive-sm">
                    <thead>
                      <tr>
                        <th scope="col">Factura</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let envio of envios">
                        <th scope="row">
                            <span>{{envio.factura[0]._id}}</span>                        
                            <textarea readonly class="form-control">{{envio.specificAddress}}</textarea>                        
                        </th>
                        <td>{{envio.factura[0].fecha}}</td>
                        <td>{{envio.factura[0].total}}</td>
                        <td><button type="button" data-toggle="modal" data-target="#view" (click)="selectEnvio(envio)" class="btn btn-primary mr-1"><i class="fa fa-eye"></i></button></td>
                      </tr>
                    </tbody>
                </table>
            
        </div>
    </div>
</section>

<div class="modal fade bd-example-modal-lg" id="view" tabindex="-1" role="dialog" aria-labelledby="viewTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewTitle">Detalles</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="envio != undefined">
            <table class="table table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Producto:</th>
                    <th scope="col">Cantidad:</th>
                    <th scope="col">Precio:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detalle of envio.factura[0].detalles">
                    <th scope="row"><img width="100px" src="{{this.uri+'getImgProd/'+detalle.producto.imgProducto}}"></th>
                    <td style="vertical-align: middle;">{{detalle.producto.nameProducto}}</td>
                    <td style="vertical-align: middle;">{{detalle.cantidad}}</td>
                    <td style="vertical-align: middle;">{{ detalle.producto.precio}}</td>
                  </tr>
                </tbody>
            </table>
            <div>
                <h2>Datos del Usuario:</h2>
                <span class="text-muted">Nombre: </span><span>{{envio.nameReceiver}}</span><br>
                <span class="text-muted">Apellido: </span><span>{{envio.lastNameReceiver}}</span><br>
                <span class="text-muted">Celular: </span><span>{{envio.phone}}</span><br>
                <span class="text-muted">NIT: </span><span>{{envio.factura[0].nit}}</span><br>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>