<section>
    <app-prod-sidebar></app-prod-sidebar>
    <div class="container pb-3  w-100 pt-3">
        <div class="login-root">
            <div class="box-root  flex-direction--column" style="flex-grow: 1; width: 100%; position: relative">
              <div class="loginbackground box-background--white padding-top--64" style="position: absolute; z-index: 2;">
                <div class="loginbackground-gridContainer">
                  <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                  </div>
                  <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                  </div>
                </div>
              </div>
              <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9; position: relative">
                <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                  <h1><a href="http://blog.stackfindover.com/" rel="dofollow"> Agregar Producto</a></h1>
                </div>
                <div class="formbg-outer pb-2">
                  <div class="formbg col-lg-9">
                    <div class="formbg-inner padding-horizontal--48">
                      
                      <form #register="ngForm"  (ngSubmit)="saveProduct(register)" id="stripe-login">
                        
                        
                        
                        <div class="field padding-bottom--24">
                            <label for="nameProducto">Nombre:</label>
                            <input required type="text" #nameProducto="ngModel" [(ngModel)]="producto.nameProducto" name="nameProducto" id="nameProducto">
                            <span class="alertForm" *ngIf="!nameProducto.valid && nameProducto.touched">Campo Obligatorio</span>
                          </div>
                        <div class="field padding-bottom--24">
                          <div class="grid--50-50">
                            <label for="descProducto">Descripción del producto</label>
                          </div>
                          <textarea required class="from-control" #descProducto="ngModel" [(ngModel)]="producto.descProducto"  name="descProducto" id="descProducto"></textarea>
                          <span class="alertForm" *ngIf="!descProducto.valid && descProducto.touched" >Campo Obligatorio</span>
                        </div>
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="tags">Etiquetas:</label>
                            </div>
                            <div class="row">
                              <div class="col-lg-2 mb-2 ml-2" *ngFor="let tag  of producto.tags">
                                <div class="border border-primary rounded text-center">
                                    <span class="tag" style="font-size: 14px;">{{tag}}</span>
                                </div>
                              </div>
                            </div>
                            <input   #tagType="ngModel" [(ngModel)]="value" type="text" (keyup.enter)="onKey(tagType.value)" name="tags" id="tags">
                        </div> 
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="stock">Stock:</label>
                            </div>
                            <input required type="number" name="stock" id="stock" #stock="ngModel" [(ngModel)]="producto.stock">
                            <span class="alertForm" *ngIf="!stock.valid && stock.touched" >Campo Obligatorio</span>
                        </div>    
                        <div class="field padding-bottom--24">
                          <div class="grid--50-50">
                            <label for="precio">Precio:</label>
                          </div>
                          <input required type="number" name="precio" id="precio" #precio="ngModel" [(ngModel)]="producto.precio">
                          <span class="alertForm" *ngIf="!precio.valid && precio.touched" >Campo Obligatorio</span>
                      </div>  
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="password2">Categoría:</label>
                            </div>
                            <select class="form-control" required  name="categoria" id="categoria" #categoria="ngModel" [(ngModel)]="producto.categoria">
                                <option>Seleccione una categoría...</option>
                                <option *ngFor="let category of categories" value="{{category._id}}">{{category.nameCategoria}}</option>
                            </select>
                            <span class="alertForm" *ngIf="!categoria.valid && categoria.touched">Campo Obligatorio</span>
                        </div>  
                        <div class="field padding-bottom--24">
                            <div class="grid--50-50">
                              <label for="password2">Imagen del producto:</label>
                            </div>
                            <input required type="file" (change)="fileChange($event)">
                        </div>    
                        <div class="text-center">
                            <input type="submit" [disabled]="!register.form.valid"  value="Agregar">              
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>