.container{
    background: white;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    min-height: 100vh;
    position: relative;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    border-radius: 5px;
    margin-top: -30px;
}