<app-carousel ></app-carousel>

<section>
    <div class="container pt-3 pb-3  w-100">
        <div class="w-100 pb-3 pt-3 d-flex justify-content-center">
            <div class="col-lg-4 text-center">
                <h4>Tecnología</h4>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Gaming</h4>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Tu mejor opción</h4>
            </div>
        </div>
        <div class="w-100 text-center">
            <h2 style="color: #11346b;">Productos Más Vendidos</h2>
        </div>
        <ngx-slick-carousel class="carousel mt-2 mb-2" #slickModal="slick-carousel" [config]="slideConfig" >
            <div ngxSlickItem  *ngFor="let product of bestProducts" class="slide row justify-content-center">
                <div class="col-md-10">
                    <div class="wsk-cp-product">
                      <div class="wsk-cp-img">
                        <img src="{{this.uri+'getImgProd/'+product.imgProducto}}" alt="Product" class="img-responsive" />
                      </div>
                      <div class="wsk-cp-text">
                        <div class="category">
                          <span>{{product.categoria[0].nameCategoria}}</span>
                        </div>
                        <div class="title-product">
                          <h3>{{product.nameProducto}}</h3>
                        </div>
                        <div class="description-prod">
                          <p style="white-space: pre-line">{{product.descProducto}}</p>
                        </div>
                        <div class="card-footer">
                          <div class="wcf-left"><span class="price">Q. {{product.precio}}</span></div>
                            <div class="wcf-right d-flex">
                                <a  class="buy-btn mr-1"><i class="fa fa-eye"></i></a>
                              <a  class="buy-btn"><i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
        <div class="w-100 text-center">
            <h2 style="color: #11346b;">Lo Más Nuevo</h2>
        </div>
        <ngx-slick-carousel class="carousel mt-2 mb-2" #slickModal="slick-carousel" [config]="slideConfig" >
            <div ngxSlickItem  *ngFor="let product of newProducts" class="slide row justify-content-center">
                <div class="col-md-10">
                    <div class="wsk-cp-product">
                      <div class="wsk-cp-img">
                        <img src="{{this.uri+'getImgProd/'+product.imgProducto}}" alt="Product" class="img-responsive" />
                      </div>
                      <div class="wsk-cp-text">
                        <div class="category">
                          <span>{{product.categoria[0].nameCategoria}}</span>
                        </div>
                        <div class="title-product">
                          <h3>{{product.nameProducto}}</h3>
                        </div>
                        <div class="description-prod">
                          <p style="white-space: pre-line">{{product.descProducto}}</p>
                        </div>
                        <div class="card-footer">
                          <div class="wcf-left"><span class="price">Q. {{product.precio}}</span></div>
                            <div class="wcf-right d-flex">
                                <a  class="buy-btn mr-1"><i class="fa fa-eye"></i></a>
                                <a  class="buy-btn"><i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>                
    </div>
</section>
